@charset "UFT-8";

body {
    margin: 0;
    padding: 0;
    height: 100vh;

}

table{
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
    
}
caption{
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 5px;
}
th,td {
    border: 2px solid black;

}
.cnome{
    background-color: aquamarine;

}
col.csexo {
    background-color: rgb(241, 13, 13);
}