@charset "UFT-8";

table 
{
    width: 600px;
    height: 100vh;
    border-collapse: collapse;
    align-items: center;
    padding: 20px;
    margin: 10px;
    position: relative;

}
th,td{
    border: 1px solid black;
    text-align: center;
}
 caption {
    text-align: center;
    padding: 10px; 
    font-weight: bold;   
 
}
thead,tfoot {
    background-color: gray;
}
thead > tr > th {
    position: sticky; /* tag chiiclete fixa a tabela */
    top: -1px; /*tag para nao ter sobra */
    background-color: gray;

}
.num{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(74, 29, 189);
}
tbody tr:nth-child(odd){
    background-color: rgb(214, 232, 239);
}
